$color: #00685A;
body{background: #F5F6F8;}
:deep(.el-form-item__label) {
  color: #000;
  line-height: 28px;
}

.el-radio {
  border-radius: 0;
  margin-right: 12px;
  border: 1px solid transparent;
  height: 28px;
  padding: 0 12px;
  :deep(.el-radio__label) {
    color: #555;
    font-weight: normal;
    padding: 0;
  }
  &.is-checked:deep(.el-radio__label) {
    color: $color;
  }
  &.is-checked {
    border-color:  $color;
  }

  :deep(.el-radio__input) {
    display: none;
  }
}
.el-switch {
  &__label {
    color:  #666 !important;
  }
  &__label.is-active {
    color:  $color !important;
  }
 
}
.el-form {
  &-item {
    border-bottom: 1px solid #dfe1e8;
    padding-bottom: 12px;
    &:last-child {
      border-bottom: 0;
    }
    :deep(.el-input__inner) {
      border-radius: 0;
    }
  }
}

.el-table {
  :deep(.el-table__cell) {
    height: 56px;
    font-size: 14px;
    color: #555;
    .cell{
      padding: 0 5px;
    }
  }
  :deep(th.el-table__cell) {
    background: #e5e8f0;
    font-size: 16px;
    color: #000;
    font-weight: normal;
    text-transform: capitalize;
  }
  :deep(th.type-label .cell) {
    padding-left: 62px;
  }
}
