@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $text-color:(

    'primary': #303133,
    'regular': #606266,
    'secondary': #909399,
    'placeholder': #a8abb2,
    'disabled': #c0c4cc,

  ),
$colors: (
    'primary': (
      'base': #7D32EA,
    ),
    'primary-light-9': (
      'base': #F7F8FA,
    ),
  ),

  $border-radius:('base': 0px,)
);
