@mixin o-styles {
    --o-white: 255, 255, 255;
  --o-black: 0, 0, 0;
  --o-kleinblue-1: 235, 241, 250;
  --o-kleinblue-2: 206, 219, 245;
  --o-kleinblue-3: 132, 161, 220;
  --o-kleinblue-4: 81, 119, 202;
  --o-kleinblue-5: 37, 81, 185;
  --o-kleinblue-6: 0, 47, 167;
  --o-kleinblue-7: 0, 39, 147;
  --o-kleinblue-8: 0, 31, 126;
  --o-kleinblue-9: 0, 24, 126;
  --o-kleinblue-10: 0, 18, 85;
  --o-yellow-1: 254, 252, 233;
  --o-yellow-2: 252, 248, 202;
  --o-yellow-3: 249, 237, 149;
  --o-yellow-4: 246, 224, 98;
  --o-yellow-5: 243, 207, 49;
  --o-yellow-6: 240, 188, 6;
  --o-yellow-7: 200, 147, 0;
  --o-yellow-8: 160, 109, 0;
  --o-yellow-9: 120, 76, 0;
  --o-yellow-10: 80, 47, 0;
  --o-orange-1: 255, 246, 232;
  --o-orange-2: 254, 226, 186;
  --o-orange-3: 253, 202, 140;
  --o-orange-4: 252, 176, 95;
  --o-orange-5: 251, 147, 50;
  --o-orange-6: 250, 115, 5;
  --o-orange-7: 207, 88, 3;
  --o-orange-8: 163, 64, 2;
  --o-orange-9: 120, 42, 1;
  --o-orange-10: 77, 24, 0;
  --o-red-1: 255, 234, 232;
  --o-red-2: 250, 185, 182;
  --o-red-3: 245, 136, 134;
  --o-red-4: 240, 87, 90;
  --o-red-5: 235, 43, 52;
  --o-red-6: 230, 0, 18;
  --o-red-7: 192, 0, 22;
  --o-red-8: 153, 0, 23;
  --o-red-9: 115, 0, 21;
  --o-red-10: 77, 0, 17;
  --o-green-1: 232, 255, 238;
  --o-green-2: 177, 239, 195;
  --o-green-3: 128, 224, 158;
  --o-green-4: 84, 208, 127;
  --o-green-5: 45, 193, 101;
  --o-green-6: 11, 177, 81;
  --o-green-7: 7, 152, 72;
  --o-green-8: 4, 127, 63;
  --o-green-9: 2, 102, 53;
  --o-green-10: 0, 77, 42;
  --o-amber-1: 253, 247, 232;
  --o-amber-2: 250, 237, 200;
  --o-amber-3: 245, 215, 147;
  --o-amber-4: 241, 191, 96;
  --o-amber-5: 236, 165, 47;
  --o-amber-6: 231, 137, 0;
  --o-amber-7: 193, 105, 0;
  --o-amber-8: 154, 76, 0;
  --o-amber-9: 116, 51, 0;
  --o-amber-10: 77, 30, 0;
  --o-lime-1: 243, 250, 230;
  --o-lime-2: 229, 244, 195;
  --o-lime-3: 208, 233, 140;
  --o-lime-4: 191, 223, 89;
  --o-lime-5: 177, 212, 42;
  --o-lime-6: 167, 201, 0;
  --o-lime-7: 136, 168, 0;
  --o-lime-8: 107, 134, 0;
  --o-lime-9: 78, 101, 0;
  --o-lime-10: 51, 67, 0;
  --o-light-green-1: 242, 247, 231;
  --o-light-green-2: 225, 240, 199;
  --o-light-green-3: 195, 225, 148;
  --o-light-green-4: 166, 209, 103;
  --o-light-green-5: 138, 194, 62;
  --o-light-green-6: 112, 179, 27;
  --o-light-green-7: 91, 149, 21;
  --o-light-green-8: 70, 119, 16;
  --o-light-green-9: 51, 90, 11;
  --o-light-green-10: 33, 60, 7;
  --o-teal-1: 228, 247, 241;
  --o-teal-2: 192, 240, 224;
  --o-teal-3: 135, 225, 197;
  --o-teal-4: 84, 209, 173;
  --o-teal-5: 39, 194, 152;
  --o-teal-6: 0, 179, 133;
  --o-teal-7: 0, 149, 113;
  --o-teal-8: 0, 119, 93;
  --o-teal-9: 0, 90, 71;
  --o-teal-10: 0, 60, 48;
  --o-cyan-1: 228, 247, 247;
  --o-cyan-2: 192, 240, 240;
  --o-cyan-3: 135, 223, 225;
  --o-cyan-4: 84, 205, 209;
  --o-cyan-5: 39, 186, 194;
  --o-cyan-6: 0, 167, 179;
  --o-cyan-7: 0, 137, 149;
  --o-cyan-8: 0, 107, 119;
  --o-cyan-9: 0, 79, 90;
  --o-cyan-10: 0, 52, 60;
  --o-light-blue-1: 232, 247, 252;
  --o-light-blue-2: 200, 237, 250;
  --o-light-blue-3: 147, 218, 245;
  --o-light-blue-4: 96, 198, 239;
  --o-light-blue-5: 47, 178, 234;
  --o-light-blue-6: 0, 156, 229;
  --o-light-blue-7: 0, 127, 191;
  --o-light-blue-8: 0, 99, 153;
  --o-light-blue-9: 0, 72, 115;
  --o-light-blue-10: 0, 47, 76;
  --o-blue-1: 233, 245, 254;
  --o-blue-2: 202, 231, 252;
  --o-blue-3: 149, 205, 249;
  --o-blue-4: 98, 178, 246;
  --o-blue-5: 49, 151, 243;
  --o-blue-6: 0, 122, 240;
  --o-blue-7: 0, 100, 204;
  --o-blue-8: 0, 80, 169;
  --o-blue-9: 0, 61, 133;
  --o-blue-10: 0, 43, 97;
  --o-mixedgray-1: 255, 255, 255;
  --o-mixedgray-2: 243, 243, 245;
  --o-mixedgray-3: 237, 237, 240;
  --o-mixedgray-4: 232, 232, 235;
  --o-mixedgray-5: 222, 222, 227;
  --o-mixedgray-6: 212, 212, 217;
  --o-mixedgray-7: 186, 186, 191;
  --o-mixedgray-8: 149, 149, 157;
  --o-mixedgray-9: 111, 111, 117;
  --o-mixedgray-10: 85 , 85, 92;
  --o-mixedgray-11: 61, 61, 66;
  --o-mixedgray-12: 37, 37, 41;
  --o-mixedgray-13: 21, 21, 23;
  --o-mixedgray-14: 0, 0, 0;
  --o-indigo-1: 232, 236, 247;
  --o-indigo-2: 200, 211, 240;
  --o-indigo-3: 150, 170, 225;
  --o-indigo-4: 106, 131, 209;
  --o-indigo-5: 66, 96, 194;
  --o-indigo-6: 31, 63, 179;
  --o-indigo-7: 23, 50, 159;
  --o-indigo-8: 16, 38, 138;
  --o-indigo-9: 10, 28, 118;
  --o-indigo-10: 5, 19, 101;
  --o-violet-1: 234, 231, 249;
  --o-violet-2: 206, 199, 242;
  --o-violet-3: 163, 147, 229;
  --o-violet-4: 124, 100, 217;
  --o-violet-5: 90, 58, 204;
  --o-violet-6: 61, 20, 191;
  --o-violet-7: 53, 13, 171;
  --o-violet-8: 46, 7, 150;
  --o-violet-9: 39, 2, 130;
  --o-violet-10: 34, 0, 109;
  --o-purple-1: 245, 228, 247;
  --o-purple-2: 234, 192, 240;
  --o-purple-3: 211, 136, 225;
  --o-purple-4: 187, 85, 209;
  --o-purple-5: 161, 41, 194;
  --o-purple-6: 135, 2, 179;
  --o-purple-7: 114, 0, 159;
  --o-purple-8: 95, 0, 138;
  --o-purple-9: 77, 0, 118;
  --o-purple-10: 60, 0, 97;
  --o-pink-1: 252, 232, 239;
  --o-pink-2: 249, 199, 217;
  --o-pink-3: 243, 146, 184;
  --o-pink-4: 236, 95, 156;
  --o-pink-5: 230, 46, 132;
  --o-pink-6: 224, 0, 112;
  --o-pink-7: 188, 0, 100;
  --o-pink-8: 153, 0, 86;
  --o-pink-9: 117, 0, 70;
  --o-pink-10: 81, 0, 51;
  --o-color-white: rgb(var(--o-white));
  --o-color-black: rgb(var(--o-black));
  --o-color-primary1: rgb(var(--o-kleinblue-6));
  --o-color-primary2: rgb(var(--o-kleinblue-4));
  --o-color-primary3: rgb(var(--o-kleinblue-7));
  --o-color-primary4: rgb(var(--o-kleinblue-3));
  --o-color-primary1-light: rgb(var(--o-kleinblue-2));
  --o-color-primary2-light: rgb(var(--o-kleinblue-3));
  --o-color-primary3-light: rgb(var(--o-kleinblue-4));
  --o-color-primary4-light: rgb(var(--o-kleinblue-1));
  --o-color-success1: rgb(var(--o-green-6));
  --o-color-success2: rgb(var(--o-green-4));
  --o-color-success3: rgb(var(--o-green-7));
  --o-color-success4: rgb(var(--o-green-3));
  --o-color-success1-light: rgb(var(--o-green-2));
  --o-color-success2-light: rgb(var(--o-green-3));
  --o-color-success3-light: rgb(var(--o-green-4));
  --o-color-success4-light: rgb(var(--o-green-1));
  --o-color-warning1: rgb(var(--o-orange-6));
  --o-color-warning2: rgb(var(--o-orange-4));
  --o-color-warning3: rgb(var(--o-orange-7));
  --o-color-warning4: rgb(var(--o-orange-3));
  --o-color-warning1-light: rgb(var(--o-orange-2));
  --o-color-warning2-light: rgb(var(--o-orange-3));
  --o-color-warning3-light: rgb(var(--o-orange-4));
  --o-color-warning4-light: rgb(var(--o-orange-1));
  --o-color-danger1: rgb(var(--o-red-6));
  --o-color-danger2: rgb(var(--o-red-4));
  --o-color-danger3: rgb(var(--o-red-7));
  --o-color-danger4: rgb(var(--o-red-3));
  --o-color-danger1-light: rgb(var(--o-red-2));
  --o-color-danger2-light: rgb(var(--o-red-3));
  --o-color-danger3-light: rgb(var(--o-red-4));
  --o-color-danger4-light: rgb(var(--o-red-1));
  --o-color-fill1: rgb(var(--o-mixedgray-2));
  --o-color-fill2: rgb(var(--o-mixedgray-1));
  --o-color-fill3: rgb(var(--o-mixedgray-3));
  --o-color-control1: rgba(var(--o-mixedgray-14), .25);
  --o-color-control2: rgba(var(--o-mixedgray-14), .6);
  --o-color-control3: rgba(var(--o-mixedgray-14), .8);
  --o-color-control4: rgba(var(--o-mixedgray-14), .1);
  --o-color-control1-light: rgb(var(--o-mixedgray-5), 1);
  --o-color-control2-light: rgba(var(--o-kleinblue-1), 1);
  --o-color-control3-light: rgba(var(--o-kleinblue-2), 1);
  --o-color-control4-light: rgb(var(--o-mixedgray-3), 1);
  --o-color-control5-light: rgb(var(--o-mixedgray-1), 1);
  --o-color-control-light: rgb(var(--o-mixedgray-1), 1);
  --o-color-info1: rgba(var(--o-mixedgray-14), 1);
  --o-color-info2: rgba(var(--o-mixedgray-14), .8);
  --o-color-info3: rgba(var(--o-mixedgray-14), .6);
  --o-color-info4: rgba(var(--o-mixedgray-14), .4);
  --o-color-info1-inverse: rgba(var(--o-mixedgray-1), 1);
  --o-color-info2-inverse: rgba(var(--o-mixedgray-1), .8);
  --o-color-info3-inverse: rgba(var(--o-mixedgray-1), .6);
  --o-color-info4-inverse: rgba(var(--o-mixedgray-1), .4);
  --o-color-mask1: rgba(var(--o-mixedgray-14), .4);
  --o-color-mask2: rgba(var(--o-mixedgray-1), .2);
  --o-color-link1: rgba(var(--o-kleinblue-6));
  --o-color-link2: rgba(var(--o-kleinblue-4));
  --o-color-link3: rgba(var(--o-kleinblue-7));
  --o-color-link4: rgba(var(--o-kleinblue-3));
  --o-shadow-1: 0 3px 8px rgba(var(--o-mixedgray-9), .08);
  --o-shadow-2: 0 2px 24px rgba(var(--o-mixedgray-9), .15);
  --o-shadow-3: 0 8px 40px rgba(var(--o-mixedgray-9), .1);
  --o-gap-1: 4px;
  --o-gap-2: 8px;
  --o-gap-3: 12px;
  --o-gap-4: 16px;
  --o-gap-5: 24px;
  --o-gap-6: 32px;
  --o-gap-7: 40px;
  --o-gap-8: 48px;
  --o-gap-9: 64px;
  --o-gap-10: 72px;
  --o-control_size-2xs: 14px;
  --o-control_size-xs: 16px;
  --o-control_size-s: 24px;
  --o-control_size-m: 32px;
  --o-control_size-l: 40px;
  --o-control_size-xl: 48px;
  --o-control_size-2xl: 56px;
  --o-icon_size-xs: 16px;
  --o-icon_size-s: 20px;
  --o-icon_size-m: 24px;
  --o-icon_size-l: 32px;
  --o-icon_size-xl: 40px;
  --o-icon_size-2xl: 48px;
  --o-icon_size-3xl: 56px;
  --o-icon_size-4xl: 64px;
  --o-icon_size_control-xs: 16px;
  --o-icon_size_control-s: 20px;
  --o-icon_size_control-m: 24px;
  --o-icon_size_control-l: 32px;
  --o-icon_size_control-xl: 40px;
  --o-font_size-display1: 56px;
  --o-font_size-display2: 48px;
  --o-font_size-display3: 40px;
  --o-font_size-h1: 32px;
  --o-font_size-h2: 24px;
  --o-font_size-h3: 22px;
  --o-font_size-h4: 20px;
  --o-font_size-text1: 16px;
  --o-font_size-text2: 18px;
  --o-font_size-tip1: 14px;
  --o-font_size-tip2: 12px;
  --o-line_height-display1: 80px;
  --o-line_height-display2: 64px;
  --o-line_height-display3: 56px;
  --o-line_height-h1: 44px;
  --o-line_height-h2: 32px;
  --o-line_height-h3: 30px;
  --o-line_height-h4: 28px;
  --o-line_height-text1: 24px;
  --o-line_height-text2: 26px;
  --o-line_height-tip1: 22px;
  --o-line_height-tip2: 18px;
  --o-radius-xs: 4px;
  --o-radius-s: 8px;
  --o-radius-m: 12px;
  --o-radius-l: 16px;
  --o-radius-xl: 24px;
  --o-radius_control-xs: 4px;
  --o-radius_control-s: 8px;
  --o-radius_control-m: 12px;
  --o-radius_control-l: 16px;
  --o-duration-s: .2s;
  --o-duration-m1: .25s;
  --o-duration-m2: .3s;
  --o-duration-m3: .4s;
  --o-duration-l: .5s;
  --o-duration-xl: 1s;
  --o-easing-linear: cubic-bezier(0, 0, 1, 1);
  --o-easing-standard: cubic-bezier(.2, 0, 0, 1);
  --o-easing-standard-in: cubic-bezier(0, 0, 0, 1);
  --o-easing-standard-out: cubic-bezier(.3, 0, 1, 1);
  --o-easing-emphasized: cubic-bezier(.2, 0, 0, 1);
  --o-easing-emphasized-in: cubic-bezier(.3, 0, .8, .15);
  --o-easing-emphasized-out: cubic-bezier(.05, .7, .1, 1);
}